# ==========================================
# Lung Cancer Analysis Using Deep Learning
# Requirements File
# ==========================================

# Core Libraries
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.0


# Deep Learning
tensorflow==2.16.1
keras==3.3.3



# Machine Learning
scikit-learn==1.5.0

# Jupyter / Colab Support
notebook==7.2.0
jupyter==1.0.0

# Visualization
plotly==5.22.0
